@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.skeleton-container {
  width: 100%;
}

.skeleton {
  @include skeleton;
  margin-bottom: $space-2;

  &:last-child {
    margin-bottom: 0;
  }

  &.skeleton-text {
    height: 1em;
    border-radius: $radius;
  }

  &.skeleton-title {
    height: 1.5em;
    width: 60%;
    margin-bottom: $space-3;
    border-radius: $radius;
  }

  &.skeleton-card {
    height: 200px;
    border-radius: $radius-lg;
  }

  &.skeleton-circle {
    border-radius: $radius-full;
  }
}
