// Import common form styles or define specific ones

.form-container {
  padding: 24px;
  max-width: 700px; // Adjust width as needed
  margin: 0 auto;
}

mat-card-header { padding-bottom: 16px; }
mat-card-content { padding-top: 16px; }
.form-loading-bar { position: absolute; top: 0; left: 0; right: 0; }
.full-width { width: 100%; }

mat-card-actions {
  padding: 16px !important;
  background-color: rgba(0,0,0,0.02);
}

// Add margin between form fields if needed
mat-form-field {
  margin-bottom: 10px;
}
