/* src/styles.scss */

/* --- Berlin Sans FB Font Definition ---

@font-face {
  font-family: 'Berlin Sans FB';
  src: url('./assets/fonts/BRLNSR.TTF') format('ttf');
  font-weight: normal; // Or the specific weight, e.g., 400
  font-style: normal;
}

@font-face {
  font-family: 'Berlin Sans FB';
  src: url('./assets/fonts/BRLNSB.TTF') format('ttf');
  font-weight: bold; // Or the specific weight, e.g., 700
  font-style: normal;
}

// Add other weights/styles (italic, light, etc.) if you have the files */

// --- End Font Definition ---
@import url('https://fonts.cdnfonts.com/css/berlin-sans-fb');

/* Rest of your global styles... */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
